body{
  background-color: grey;
}
header{
  background-image: url(assets/h_img.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
}
.head{
  padding: 150px;
}
.about{
  text-align: center;
}
.services{
  background-image: url(assets/s_image.jpg);
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
  padding: 50px;
}
.do{
  text-align: center;
}
.row{
  text-align: center;
}
.show{
  display: none;
}
.show2{
  display: none;
}
.show3{
  display: none;
}
.portfolio{
  text-align: center;
}
.contact-form{
  background-image: url(assets/c_image.jpg);
  background-size: cover;
  padding: 50px;
}
